.skin_r1_c1{ background:url("skin_r1_c1.png") top left no-repeat; }
.skin_r1_c11{ width:32px; height:512px; background-position:-10px -10px; }
.skin_r1_c10{ width:32px; height:512px; background-position:-52px -10px; }
.skin_r1_c9{ width:32px; height:512px; background-position:-94px -10px; }
.skin_r1_c6{ width:32px; height:512px; background-position:-136px -10px; }
.skin_r1_c8{ width:32px; height:512px; background-position:-178px -10px; }
.skin_php_r9_c5{ width:32px; height:512px; background-position:-220px -10px; }
.skin_php_r9_c4{ width:32px; height:512px; background-position:-262px -10px; }
.skin_php_r9_c3{ width:32px; height:512px; background-position:-304px -10px; }
.skin_php_r9_c1{ width:32px; height:512px; background-position:-10px -532px; }
.skin_r16_c12{ width:32px; height:512px; background-position:-52px -532px; }
.skin_r16_c14{ width:32px; height:512px; background-position:-94px -532px; }
.skin_r16_c13{ width:32px; height:512px; background-position:-136px -532px; }
.skin_r16_c15{ width:32px; height:512px; background-position:-178px -532px; }
.skin_r16_c16{ width:32px; height:512px; background-position:-220px -532px; }
.skin_r16_c17{ width:32px; height:512px; background-position:-262px -532px; }
.skin_php_r9_c2{ width:32px; height:512px; background-position:-304px -532px; }
.skin_php_r1_c13{ width:352px; height:32px; background-position:-10px -1054px; }
.skin_php_r2_c13{ width:352px; height:32px; background-position:-10px -1096px; }
.skin_php_r3_c13{ width:352px; height:32px; background-position:-10px -1138px; }
.skin_php_r4_c13{ width:351px; height:32px; background-position:-10px -1180px; }
.skin_php_r5_c13{ width:352px; height:32px; background-position:-10px -1222px; }
.skin_php_r6_c13{ width:352px; height:32px; background-position:-10px -1264px; }
.skin_php_r7_c13{ width:352px; height:32px; background-position:-10px -1306px; }
.skin_php_r8_c13{ width:352px; height:32px; background-position:-10px -1348px; }
.skin_r15_c12{ width:192px; height:32px; background-position:-10px -1390px; }
.skin_r11_c1{ width:320px; height:32px; background-position:-10px -1432px; }
.skin_r10_c1{ width:320px; height:32px; background-position:-10px -1474px; }
.skin_r9_c1{ width:320px; height:32px; background-position:-10px -1516px; }
.skin_r16_c1{ width:320px; height:32px; background-position:-10px -1558px; }
.skin_r15_c1{ width:320px; height:32px; background-position:-10px -1600px; }
.skin_r14_c1{ width:320px; height:32px; background-position:-10px -1642px; }
.skin_r13_c1{ width:320px; height:32px; background-position:-10px -1684px; }
.skin_r12_c1{ width:320px; height:32px; background-position:-10px -1726px; }
.skin_r8_c1{ width:160px; height:32px; background-position:-10px -1768px; }
.skin_r7_c1{ width:160px; height:32px; background-position:-180px -1768px; }
.skin_r6_c1{ width:160px; height:32px; background-position:-10px -1810px; }
.skin_r5_c1{ width:160px; height:32px; background-position:-180px -1810px; }
.skin_r4_c1{ width:160px; height:32px; background-position:-10px -1852px; }
.skin_r3_c1{ width:160px; height:32px; background-position:-180px -1852px; }
.skin_r2_c1{ width:160px; height:32px; background-position:-10px -1894px; }
.skin_r1_c1{ width:160px; height:32px; background-position:-180px -1894px; }
